<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" action="" class="grid">
  <p-panel header="Add Project" class="col-12">
    <div class="grid">

      <label for="projectId" class="col-12 md:col-2">Project Id*</label>
      <p-inputMask mask="aaa-999" id="projectId" formControlName="projectId" placeholder="ABC-123" slotChar="?"
                   class="col-12 md:col-5"></p-inputMask>

      <div class="col-12 md:col-5">
        <app-fielderrors [form]="projectForm" [field]="'projectId'" [nicename]="'Project ID'"></app-fielderrors>
      </div>

    </div>

    <div class="grid">
      <label for="description" class="col-12">Description</label>
      <p-editor id="description" formControlName="description" class="col-12" [style]="{'height':'200px'}"></p-editor>

      <div class="col-12 md:col-5">
        <app-fielderrors [form]="projectForm" field="description" nicename="Description"> </app-fielderrors>
      </div>
    </div>

    <div class="grid">
      <label for="startDate" class="col-12 md:col-2">Start Date</label>
      <p-calendar [showIcon]="true" id="startDate" formControlName="startDate" dateFormat="dd.mm.yy"
                  class="col-12 md:col-5" [minDate]="minProjectDate"></p-calendar>

      <div class="col-12 md:col-5">
        <app-fielderrors [form]="projectForm" field="startDate" nicename="Start Date"> </app-fielderrors>
      </div>
    </div>

    <div class="grid">
      <p-fieldset legend="Project Type" class="col-12" [toggleable]="true">
        <p-radioButton name="projectType" label="Front End" value="F" formControlName="projectType"></p-radioButton>
        <p-radioButton name="projectType" label="Backend End" value="B" formControlName="projectType"></p-radioButton>
        <p-radioButton name="projectType" label="Operations" value="O" formControlName="projectType"></p-radioButton>
      </p-fieldset>
    </div>

    <div class="grid">
      <label for="devs" class="col-12 md:col-2">Assigned Devs</label>
      <p-dropdown id="devs" [options]="allDevs" [filter]="true"
                  formControlName="selectedDevs" class="col-12 md:col-10"></p-dropdown>
    </div>



    <p-button icon="pi pi-save" type="submit"  [disabled]="hasFormErrors()">Save</p-button>
  </p-panel>
</form>
