<div class="grid" id="header">

  <div class="col-10">
    <img src="assets/img/logo-clear.svg" id="top-logo"/>
  </div>
<!--  <div class="col-2" id="notifications">-->

<!--  </div>-->
</div>

<div class="grid">
  <div class="col-2" id="sidegutter">
    <div id="sidenav">
      <p-menu #bigMenu [model]="menuItems"></p-menu>
    </div>
  </div>

  <div class="col-2" id="minigutter">
    <div id="sidenav-mini">
      <p-menu #smallMenu [model]="miniMenuItems"></p-menu>
    </div>
  </div>

  <div id="content-body" class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>

