.statistic {
  margin: 1em;
  min-width: 200px;
  color: white;
  text-align: center;
  font-family: "Roboto";
}
.icon-frame {
  margin: 0px;
  background:rgba(0,0,0,.1);
}

.icon {
  font-size: 70px;
  padding: 5px;
}

.data {
  padding: 1em;
  vertical-align: middle;
}

.value {
  font-size: 40px;
}

.label {
  text-transform: uppercase;
}


